body {

	background-color: rgb(201, 190, 162);
}

.f_headr {
	background-color: black;
	padding-right: 40px;
	padding-left: 40px;
}

.s_headr {
	background-color: black;
	padding-left: 40px;
	padding-right: 40px;
}


.input-field label {
	color: #000;
	font-weight: bolder;
}

.form-box {
	background-color: #fff;
	padding: 15px;
}